# Nimbus
# Copyright (c) 2018-2026 Status Research & Development GmbH
if ! has nix_direnv_version || ! nix_direnv_version 3.0.7; then
    source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/3.0.7/direnvrc" "sha256-RYcUJaRMf8oF5LznDrlCXbkOQrywm0HDv1VjYGaJGdM="
fi

export DIRENV_WARN_TIMEOUT=20s
use flake
