[submodule "vendor/Nim"]
	path = vendor/Nim
	url = https://github.com/status-im/Nim.git
	ignore = dirty
	branch = nimbus
[submodule "vendor/nim-chronicles"]
	path = vendor/nim-chronicles
	url = https://github.com/status-im/nim-chronicles.git
	ignore = dirty
	branch = master
[submodule "vendor/nimcrypto"]
	path = vendor/nimcrypto
	url = https://github.com/cheatfate/nimcrypto.git
	ignore = dirty
	branch = master
[submodule "vendor/nim-ranges"]
	path = vendor/nim-ranges
	url = https://github.com/status-im/nim-ranges.git
	ignore = dirty
	branch = master
[submodule "vendor/nim-stint"]
	path = vendor/nim-stint
	url = https://github.com/status-im/nim-stint.git
	ignore = dirty
	branch = master
[submodule "vendor/nim-rocksdb"]
	path = vendor/nim-rocksdb
	url = https://github.com/status-im/nim-rocksdb.git
	ignore = dirty
	branch = master
[submodule "vendor/nim-eth"]
	path = vendor/nim-eth
	url = https://github.com/status-im/nim-eth.git
	ignore = dirty
	branch = master
[submodule "vendor/nim-byteutils"]
	path = vendor/nim-byteutils
	url = https://github.com/status-im/nim-byteutils.git
	ignore = dirty
	branch = master
[submodule "vendor/nim-http-utils"]
	path = vendor/nim-http-utils
	url = https://github.com/status-im/nim-http-utils.git
	ignore = dirty
	branch = master
[submodule "vendor/nim-json-rpc"]
	path = vendor/nim-json-rpc
	url = https://github.com/status-im/nim-json-rpc.git
	ignore = dirty
	branch = master
[submodule "vendor/nim-faststreams"]
	path = vendor/nim-faststreams
	url = https://github.com/status-im/nim-faststreams.git
	ignore = dirty
	branch = master
[submodule "vendor/nim-std-shims"]
	path = vendor/nim-std-shims
	url = https://github.com/status-im/nim-std-shims.git
	ignore = dirty
	branch = master
[submodule "vendor/nim-serialization"]
	path = vendor/nim-serialization
	url = https://github.com/status-im/nim-serialization.git
	ignore = dirty
	branch = master
[submodule "vendor/nim-json-serialization"]
	path = vendor/nim-json-serialization
	url = https://github.com/status-im/nim-json-serialization.git
	ignore = dirty
	branch = master
[submodule "vendor/nim-package-visible-types"]
	path = vendor/nim-package-visible-types
	url = https://github.com/zah/nim-package-visible-types.git
	ignore = dirty
	branch = master
[submodule "vendor/nim-secp256k1"]
	path = vendor/nim-secp256k1
	url = https://github.com/status-im/nim-secp256k1.git
	ignore = dirty
	branch = master
[submodule "vendor/snappy"]
	path = vendor/snappy
	url = https://github.com/jangko/snappy.git
	ignore = dirty
	branch = master
[submodule "vendor/nim-bncurve"]
	path = vendor/nim-bncurve
	url = https://github.com/status-im/nim-bncurve.git
	ignore = dirty
	branch = master
[submodule "vendor/nim-confutils"]
	path = vendor/nim-confutils
	url = https://github.com/status-im/nim-confutils.git
	ignore = dirty
	branch = master
[submodule "vendor/nim-beacon-chain"]
	path = vendor/nim-beacon-chain
	url = https://github.com/status-im/nim-beacon-chain.git
	ignore = dirty
	branch = master
[submodule "vendor/nim-blscurve"]
	path = vendor/nim-blscurve
	url = https://github.com/status-im/nim-blscurve
	ignore = dirty
	branch = master
[submodule "vendor/Nim-csources"]
	path = vendor/Nim-csources
	url = https://github.com/nim-lang/csources.git
	ignore = dirty
	branch = master
[submodule "vendor/nimble"]
	path = vendor/nimble
	url = https://github.com/nim-lang/nimble.git
	ignore = dirty
	branch = master
[submodule "vendor/nim-chronos"]
	path = vendor/nim-chronos
	url = https://github.com/status-im/nim-chronos.git
	ignore = dirty
	branch = master
[submodule "vendor/tempfile.nim"]
	path = vendor/tempfile.nim
	url = https://github.com/OpenSystemsLab/tempfile.nim.git
	ignore = dirty
	branch = master
