### the following pattern disables global gitignore rules (the ones from core.excludesFile)
# Ignore all files without extensions (unix executable files)
#*
#!*.*
#!*/
#!LICENSE*

nimcache/

# Executables shall be put in an ignored build/ directory
build/

# Ignore dynamic, static libs and libtool archive files
*.so
*.dylib
*.a
*.la
*.exe
*.dll

VMTests.md
