*~

# Executables shall be put in an ignored build/ directory
/build

# Nimble packages
/vendor/.nimble

# ntags/ctags output
/tags

# a symlink that can't be added to the repo because of Windows
/nimbus.nims

# Ignore dynamic, static libs and libtool archive files
*.so
*.dylib
*.a
*.la
*.exe
*.dll

# Ignore generated C and doc files
nimcache
/nimbus/docs

/debug*.json
/block*.json
/.update.timestamp
*.generated.nim
/dist

# Nimble user files
nimble.develop
nimble.paths

# nimbus-build-system files
nimbus-build-system.paths

