# Ignore all files without extensions (unix executable files)
*
!*.*
!*/
!LICENSE*

nimcache/

# Executables shall be put in an ignored build/ directory
# Ignore dynamic, static libs and libtool archive files
build/
*.so
*.dylib
*.a
*.la
*.exe
*.dll
