# Nimbus
# Copyright (c) 2025 Status Research & Development GmbH
# Licensed under either of
#  * Apache License, version 2.0, ([LICENSE-APACHE](LICENSE-APACHE) or
#    http://www.apache.org/licenses/LICENSE-2.0)
#  * MIT license ([LICENSE-MIT](LICENSE-MIT) or
#    http://opensource.org/licenses/MIT)
# at your option. This file may not be copied, modified, or distributed except
# according to those terms.

name: Lint CI
on:
  push:
    branches:
      - master
    paths-ignore:
      - 'doc/**'
      - 'portal/docs/**'
      - 'nimbus_verified_proxy/docs/**'
      - '**/*.md'
      - 'vendor/**'

  pull_request:
    paths-ignore:
      - 'doc/**'
      - 'portal/docs/**'
      - 'nimbus_verified_proxy/docs/**'
      - '**/*.md'
      - 'vendor/**'

jobs:
  lint:
    name: "Lint"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 2  # In PR, has extra merge commit: ^1 = PR, ^2 = base
      - name: Check `nph` formatting
        uses: arnetheduck/nph-action@v1
        with:
          version: 0.6.2
          options: "nimbus_verified_proxy/ portal/"
      - name: Check copyright year & version
        if: ${{ !cancelled() }} && github.event_name == 'pull_request'
        run: |
          bash scripts/check_copyright_year.sh
          bash scripts/check_version.sh
