name: Simulators
on:
  schedule:
    # every two days 11 PM
    - cron: "0 23 */2 * *"
  workflow_dispatch:

jobs:
  build-linux-amd64:
    name: Linux-amd64
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Get latest nimbus-build-system commit hash
        id: versions
        run: |
          sudo apt-get -q update
          sudo apt-get install -y libpcre3-dev
          getHash() {
            git ls-remote "https://github.com/$1" "${2:-HEAD}" | cut -f 1
          }
          nbsHash=$(getHash status-im/nimbus-build-system)
          echo "nimbus_build_system=$nbsHash" >> $GITHUB_OUTPUT

      - name: Restore prebuilt Nim from cache
        uses: actions/cache@v3
        with:
          path: NimBinaries
          key: 'nim-linux-amd64-${{ steps.versions.outputs.nimbus_build_system }}'

      - name: Build Nim and deps
        run: |
          ncpu=$(nproc)
          make -j${ncpu} ARCH_OVERRIDE=x64 CI_CACHE=NimBinaries update
          make -j${ncpu} deps

      - name: Run Simulators
        run: |
          SIM_SCRIPT="hive_integration/nodocker/build_sims.sh"
          chmod +x ${SIM_SCRIPT}
          ${SIM_SCRIPT} "Linux-amd64"

      - name: Upload artefact
        uses: actions/upload-artifact@v3
        with:
          name: linux_amd64_stat
          path: ./simulators.md
          retention-days: 2

  build-macos-amd64:
    name: Macos-amd64
    runs-on: macos-11
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Get latest nimbus-build-system commit hash
        id: versions
        run: |
          getHash() {
            git ls-remote "https://github.com/$1" "${2:-HEAD}" | cut -f 1
          }
          nbsHash=$(getHash status-im/nimbus-build-system)
          echo "nimbus_build_system=$nbsHash" >> $GITHUB_OUTPUT

      - name: Restore prebuilt Nim from cache
        uses: actions/cache@v3
        with:
          path: NimBinaries
          key: 'nim-macos-amd64-${{ steps.versions.outputs.nimbus_build_system }}'

      - name: Build Nim and deps
        run: |
          ncpu=$(sysctl -n hw.ncpu)
          make -j${ncpu} ARCH_OVERRIDE=x64 CI_CACHE=NimBinaries update
          make -j${ncpu} deps

      - name: Run Simulators
        run: |
          SIM_SCRIPT="hive_integration/nodocker/build_sims.sh"
          chmod +x ${SIM_SCRIPT}
          ${SIM_SCRIPT} "MacOS-amd64"

      - name: Upload artefact
        uses: actions/upload-artifact@v3
        with:
          name: macos_amd64_stat
          path: ./simulators.md
          retention-days: 2

  build-windows-amd64:
    name: Windows-amd64
    runs-on: windows-latest
    defaults:
      run:
        shell: msys2 {0}
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: MSYS2
        uses: msys2/setup-msys2@v2
        with:
          path-type: inherit
          install: >-
            base-devel
            git
            mingw-w64-x86_64-toolchain

      - name: Get latest nimbus-build-system commit hash
        id: versions
        run: |
          getHash() {
            git ls-remote "https://github.com/$1" "${2:-HEAD}" | cut -f 1
          }
          nbsHash=$(getHash status-im/nimbus-build-system)
          echo "nimbus_build_system=$nbsHash" >> $GITHUB_OUTPUT

      - name: Restore prebuilt Nim from cache
        uses: actions/cache@v3
        with:
          path: NimBinaries
          key: 'nim-windows-amd64-${{ steps.versions.outputs.nimbus_build_system }}'

      - name: Build Nim and deps
        run: |
          ncpu=${NUMBER_OF_PROCESSORS}
          mingw32-make -j${ncpu} ARCH_OVERRIDE=x64 CI_CACHE=NimBinaries update
          mingw32-make -j${ncpu} deps

      - name: Run Simulators
        run: |
          SIM_SCRIPT="hive_integration/nodocker/build_sims.sh"
          ${SIM_SCRIPT} "Windows-amd64"

      - name: Upload artefact
        uses: actions/upload-artifact@v3
        with:
          name: windows_amd64_stat
          path: ./simulators.md
          retention-days: 2

  prepare-stat:
    name: Test results
    needs: [build-linux-amd64, build-macos-amd64, build-windows-amd64]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          ref: master

      - name: Download artefacts
        uses: actions/download-artifact@v3

      - name: Create statistics notes
        run: |
          cat linux_amd64_stat/* > stat_notes.md
          cat macos_amd64_stat/* >> stat_notes.md
          cat windows_amd64_stat/* >> stat_notes.md

      - name: Delete tag
        uses: dev-drprasad/delete-tag-and-release@v1.0.1
        with:
          delete_release: true
          tag_name: sim-stat
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Simulators results
        uses: ncipollo/release-action@v1
        with:
          allowUpdates: true
          prerelease: true
          commit: master
          name: "Simulators results"
          tag: sim-stat
          bodyFile: "stat_notes.md"

      - name: Delete artefacts
        uses: geekyeggo/delete-artifact@v2
        with:
          failOnError: false
          name: |
            linux_amd64_stat
            macos_amd64_stat
            windows_amd64_stat
